/*============================
  Styles for Foodies
============================*/
body::before {
  content: ""; /* Content inserted before the body's content */
  display: block; /* Makes it take up a full line */
  width: 100%;
  height: 90vh;
  background-color: var(--background-color);
  margin: var(--nogap);
  padding: var(--nogap);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/*===========================
  Header Styles
=============================*/
#header {
  padding: 15px 0;
  margin-bottom: 50px;
}
.logo-area {
  position: relative;
}
/*-- main menu --*/
.main-menu {
  list-style: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: right;
}
.main-menu li {
  display: inline-block;
  padding: 10px 20px;
}
.main-menu li a {
  text-decoration: none;
  color: var(--text-color);
  display: block;
  position: relative;
  transition: all 0.5s ease;
}
.main-menu li:last-child {
  padding-right: 0;
}
.main-menu li:hover a,
.main-menu li.active a {
  color: var(--primary-color);
}
.main-menu li:hover a::after,
.main-menu li.active a::after {
  color: var(--primary-color);
  content: "\f111";
  font-family: "Font Awesome 7 Free";
  font-weight: 900;
  position: absolute;
  bottom: -25%;
  left: 50%;
  transform: translate(-50%, 50%);
  font-size: 9px;
}
/*-- mobile menu --*/
.mobile-menu {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
  position: absolute;
  min-height: 300px;
  background: var(--background-color);
  width: 100%;
  left: 0;
  right: 0;
  border: 1px solid var(--primary-color);
}
.mobile-menu li {
  display: block;
  padding: 15px 20px;
}
.mobile-menu li a {
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--text-color);
}
.mobile-menu li.active a,
.mobile-menu li:hover a {
  color: var(--primary-color);
}
.mobile-menu li a::before {
  color: var(--primary-color);
  content: "\f192";
  font-family: "Font Awesome 7 Free";
  font-weight: 900;
  font-size: 18px;
  padding-right: 15px;
}
.mobile-menu li.active a::before {
  content: "\f111";
}
.mobile-menu li.active a::after,
.mobile-menu li:hover a::after {
  color: var(--primary-color);
  content: "\f061";
  font-family: "Font Awesome 7 Free";
  font-weight: 900;
  font-size: 18px;
  padding-left: 15px;
}
.mobile-treger:checked ~ .mobile-menu {
  opacity: 1;
  visibility: visible;
  transition: all 0.4s ease;
}
.mobile-menu-icon {
  float: right;
  position: relative;
  cursor: pointer;
  transition: all 0.4s ease;
  border: 1px solid var(--text-color);
  padding: 8px;
  font-size: 18px;
}
.mobile-treger:checked ~ label.mobile-menu-icon {
  color: var(--primary-color);
  border-color: var(--primary-color);
}
.mobile-menu-icon input[type="checkbox"]:checked + ul.mobile-menu {
  display: block !important;
}
.mobile-treger {
  position: absolute;
  top: 0;
  right: 0;
  height: 25px;
  transform: translateX(30%);
  opacity: 0;
}

/*===========================
  Hero Section Styles
=============================*/
#hero-section {
  margin-bottom: 80px;
}
.hero-image-area {
  position: relative;
}
.hero-image-area .circle-area {
  position: absolute;
  background: #fff;
  padding: 15px;
  border-radius: 30px;
  font-size: 0.9rem;
}
.hero-image-area .star-area {
  top: 40%;
  left: -5%;
}
.hero-image-area .client-area {
  top: 20%;
  right: 5%;
  background-image: url("../images/client-image-small.png");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5%;
}
.hero-image-area .client-area p {
  padding-left: 40px;
}
.hero-image-area .vector-img {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
/*-- hero content --*/
.hero-text-area {
  padding: 40px 50px 100px 0;
}
.hero-text-area h1 {
  font-size: 4rem;
  margin-bottom: 30px;
  font-weight: 600;
  line-height: 1.3;
}
.hero-text-area p {
  margin-bottom: 30px;
}
.hero-trust-area {
  margin-top: -120px;
}
.hero-trust-area img {
  padding-right: 30px;
}
.hero-trust-area img:last-child {
  padding-right: 0;
}

/*===========================
 Usp Section Styles
=============================*/
#usp-section {
  margin-bottom: 80px;
}
.usp-content-area {
  border-width: 2px 0;
  border-style: solid;
  border-color: #70707059;
  padding: 40px 0;
}
.icon-area {
  padding: 15px 17px;
  text-align: center;
  font-size: 22px;
  background-color: var(--background-color);
  color: var(--primary-color);
  border-radius: 12px;
}
.usp-item h3 {
  font-size: 18px;
  font-weight: 400;
}
.usp-item p {
  font-size: 14px;
  font-weight: 500;
}

/*============================
  benifit section styles
============================*/
#benifit-section {
  margin-bottom: 80px;
}
.benifit-image-area {
  background-color: var(--background-color);
  padding: 0 25px 80px 25px;
}
.benifit-text-area {
  padding: 80px 0 80px 100px;
  position: relative;
}
.benifit-text-area img.art {
  position: absolute;
  top: 20%;
  left: 0;
  z-index: -1;
}
.benifit-text-area h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: 600;
}
.benifit-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.benifit-list li {
  margin-bottom: 15px;
}
.benifit-list li::before {
  color: var(--primary-color);
  content: "\f00c";
  font-family: "Font Awesome 7 Free";
  font-weight: 900;
  font-size: 18px;
  padding-right: 15px;
}
/*============================
  stars section style 
============================*/
#stars-section {
  margin-bottom: 80px;
}
.stars-image-area {
  background-color: var(--background-color);
  padding: 0 0 80px 25px;
  text-align: right;
}
.stars-text-area {
  padding: 80px 25px 80px 0;
  position: relative;
}
.stars-text-area img.art {
  position: absolute;
  top: 20%;
  left: 0;
  z-index: -1;
}
.stars-text-area h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: 600;
}
[class*="col-"] .container.stars-counter-area {
  margin-bottom: 50px;
}
.stars-counter-area p {
  font-size: 15px;
}
.stars-counter-area p.stars-counter {
  font-size: 3rem;
  color: var(--primary-color);
}

/*===========================
 Features section style
=============================*/
#features-section {
  margin-bottom: 80px;
}
.features-header-area h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: 600;
}
.features-content-area {
  gap: var(--nogap);
}
.features-item .container {
  padding: 0;
  margin: 0;
  background: var(--background-color);
  gap: var(--nogap);
}
.features-item .container [class*="col-"] {
  border: 1.5px solid var(--primary-color);
}
.features-text-area {
  padding: 25px;
}
.features-text-area h3 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 25px;
  line-height: 1.2;
}
.features-text-area p {
  margin-bottom: 25px;
  line-height: 1.1;
}
.features-text-area btn {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 25px;
}
.features-image-area {
  text-align: center;
  margin-bottom: -7px;
}

/*============================
  product section style 
============================*/
#product-section {
  margin-bottom: 80px;
}
.product-header-area h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: 600;
}
.product-item {
  padding: 35px 25px;
}
.product-item img {
  margin-bottom: 10px;
}
.product-item p,
.product-item h3 {
  margin-bottom: 30px;
}
.product-item h3 {
  font-size: 1.2rem;
  font-weight: 400;
}
.product-item p {
  color: var(--primary-color);
  font-size: 1.2rem;
}
.product-item p.ratting {
  font-size: 1rem;
}

/*============================
  cta section style 
============================*/
#cta-section {
  margin-bottom: 80px;
}
#cta-section .cta-content-area {
  padding: 100px;
  background: #ffffff url("../images/cta-bg.png") no-repeat center center;
  color: #ffffff;
}
#cta-section .cta-content-area h2 {
  font-size: 3.5rem;
  margin-bottom: 50px;
  font-weight: 600;
}

/*============================
  footer area style
============================*/
#footer-area {
  margin-bottom: 20px;
}
.footer-content-area {
  padding: 80px 0;
}
.footer-content-area .footer-content-item:first-child {
  padding-right: 100px;
}
.footer-content-item img,
.footer-content-item h3,
.footer-content-item p,
.footer-content-item ul {
  margin-bottom: 20px;
}
.footer-content-item h3 {
  font-size: 1.5rem;
  font-weight: 500;
}
.footer-content-item a {
  text-decoration: none;
  color: var(--text-color);
  transition: all 0.3s ease;
}
.footer-content-item a:hover {
  color: var(--primary-color);
}
.footer-content-item ul {
  list-style: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer-content-item ul.footer-social li {
  display: inline-block;
  padding: 10px 20px 10px 0;
}
.footer-content-item ul.footer-menu li {
  margin-bottom: 15px;
}
.footer-content-area .footer-form input[type="email"] {
  padding: 17px;
  font-size: 1rem;
  border: 2px solid #f0f1ec;
  background: #f0f1ec;
}
/*============================
  some common elements 
============================*/
.tagline {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
}

/* ==========================
   Some Additional Components
===========================*/
.ratting i {
  color: var(--primary-color);
}
.none {
  text-decoration: line-through;
  color: #767675;
  margin-right: 5px;
}
.art {
  animation: floating 3s ease-in-out infinite;
}
@keyframes floating {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

/*==========================
   RESPONSIVE STYLES
==========================*/
@media (max-width: 600px) {
  /*====== HEADER ========*/
  #hero-section {
    text-align: center;
  }
  .hero-text-area {
    padding: 0px 50px 50px;
  }
  .hero-text-area h1 {
    font-size: 3.5rem;
  }
  /*===== USP =====*/
  .usp-item {
    flex: 1 1 calc(50% - var(--gap));
    text-align: center;
  }
  .usp-item p.icon-area {
    display: inline-block;
    font-size: 2rem;
  }
  /*===== Benifit =====*/
  .benifit-image-area {
    padding: 0 25px 25px;
  }
  .benifit-image-area img {
    margin-top: -25px;
  }
  .benifit-text-area {
    padding: 50px 30px 0 30px;
    text-align: center;
  }
  .benifit-text-area h2 {
    font-size: 2.5rem;
  }
  .benifit-list {
    text-align: initial;
  }
  /*===== Stars =====*/
  .stars-image-area {
    padding: 0 25px 25px;
  }
  .stars-image-area img {
    margin-top: -25px;
  }
  .stars-text-area {
    padding: 50px 30px 0 30px;
    text-align: center;
  }
  .stars-text-area h2 {
    font-size: 2.4rem;
  }
  /*===== product =====*/
  .product-header-area {
    text-align: center;
  }
  .product-header-area h2 {
    font-size: 2.5rem;
  }
  /*===== CTA =====*/
  #cta-section .cta-content-area {
    padding: 35px;
  }
  #cta-section .cta-content-area h2 {
    font-size: 2rem;
    margin-bottom: 25px;
  }
  /*===== Footer =====*/
  #footer-area {
    text-align: center;
  }
  .footer-content-area {
    padding: 25px;
  }
  .footer-content-area .footer-content-item:first-child {
    padding-right: 0;
  }
  .footer-content-area .footer-form input[type="email"] {
    width: 100%;
    margin-bottom: 20px;
  }
}
